*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(207, 0, 0);
    /* font-size: 36px; */
}


li, a {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-transform: uppercase;
 font-size: 36px;
 text-decoration: none;
 color: black;
}

header {

    background-color: bisque;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: right;
    position: fixed;
    width: 100%;
    }

h1 {
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    justify-content: center;
    text-decoration: underline;
    border-style: solid;
    background-color: purple;
    border-width: 2px;
    padding-top: 60px;


}

.nav-links a:hover {
    color: blue;
    font-size: 36px;
    
}


nav {
 display: flex;
 font-size: 36px;
  
}


h2,
h3 {
    display: flex;
    justify-content: left;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 50px;
    text-decoration: underline;
}


.tas,
.me  {
    display: flex;
    align-self: center;
    padding: 20px 20px;
    max-width: 1500px;
    min-height: 500px;
    padding-left: 250px;
    flex-direction: row;
}

.nav-links li {
    display: inline-block;
    align-content: center;
    padding:  0px 60px;
    list-style: none;
}

.about-me p {
    text-align: left;
    padding: 3%;
    border: 5px;
    border-color: blueviolet;
    color: rgb(204, 0, 255);
    background-color: rgb(4, 0, 255);
    font-size: 36px;
}

/* .my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
} */

.my-work p {
     text-align: left; 
     padding: 3%; 
    font-size: 36px;
    color: rgb(204, 0, 255);
    background-color: rgb(4, 0, 255);
    
}

.code-image {
    justify-content: center;
    padding: 3%;
    margin: auto;
    border: solid 1px white;
   
    
}

.desktop {
    margin: 0;
    padding: 20px 50px; 
    border: solid 1px white;
    color: white;

}

.project-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    justify-content: space-between;
    padding: 3%;
    flex-direction: row;
    border: solid 1px white;

}

.project-3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    justify-content: space-between;
    padding: 0%;
    flex-direction: row;
    border: solid 1px white;
 
}

.project-4 {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    justify-content: space-between;
    padding: 3%;
    flex-direction: row;
    border: solid 1px white;
   
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.email {
    color: antiquewhite;
}

footer {
    text-align: center;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


  