h1 {
    color: purple;
}

a {
    color: green;
    font-size: 48px;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
}

.schloopy {
    max-width: 10px;
    max-height: 10px;
}