* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(207, 0, 0);
    width: 100vw;
    /* font-size: 36px; */
}



li,
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    text-decoration: none;
    color: black;
}

header {

    background-color: bisque;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    align-items: right;
    position: fixed;
    width: 100%;
}

h1 {
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    justify-content: center;
    text-decoration: underline;
    border-style: solid;
    background-color: purple;
    border-width: 2px;
    padding-top: 60px;
    width: 100%;


}

.nav-links a:hover {
    color: blue;
    font-size: 36px;

}

.nav-links {
    display: flex;
    flex-wrap: nowrap;
}


nav {
    display: flex;
    flex-wrap: nowrap;
    font-size: 36px;

}

.intro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h2,
h3 {
    display: flex;
    justify-content: left;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 50px;
    text-decoration: underline;
}

h4 {
    background-color: bisque;
    font-size: 48px;
    text-decoration: underline;
    color: black;
}

.avatar-pics {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.tas,
.me {

    justify-content: center;
    padding: 5px 20px;
    max-width: 40%;
    min-height: auto;
    padding-left: 30px;
    border-radius: 55%;

}

.nav-links li {
    display: inline-block;
    align-content: center;
    padding: 0px 20px;
    list-style: none;
}

.about-me p {
    text-align: left;
    padding: 3%;
    border: solid white 10px;
    color: rgb(204, 0, 255);
    background-color: rgb(4, 0, 255);
    font-size: 24px;
}


.my-work p {
    text-align: left;
    padding: 3%;
    font-size: 24px;
    color: rgb(204, 0, 255);
    background-color: rgb(4, 0, 255);
    border: solid white 10px;

}


.code-image {
    justify-content: center;
    padding: 3%;
    /* margin: auto; */
    max-width: 300px;
    border: solid 1px white;


}

.desktop {
    margin: 0;
    padding: 20px 50px;
    border: solid 1px white;
    color: white;
    max-width: 600px;
    max-height: fit-content;

}

.project-link {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 200px;
    min-width: 100%;
    align-items: flex-end;
    flex-direction: row;
    color: red;
}

.project-link-2 {
    font-size: 24px;

}

.project-2 {
    max-width: 300px;
    justify-content: space-between;
    padding: 3%;
    flex-direction: row;
    border: solid 1px white;

}

.project-2 a {

    font-size: 54px;
}

.project-3 {
    max-width: 300px;
    justify-content: space-between;
    padding: 0%;
    flex-direction: row;
    border: solid 1px white;
    width: 100%;

}

.project-4 {
    max-width: 300px;
    justify-content: space-between;
    padding: 3%;
    flex-direction: row;
    border: solid 1px white;

}


.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.email {
    color: antiquewhite;
    font-size: 24px;


}

.pictures {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.project {
    width: 50%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-main {
    flex-basis: 100%;
    min-height: 400px;
    background-image: url("./images/computerpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

footer {
    text-align: center;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 600px) {
    header {
        display: none;
    }
}